<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css" />
</head>

<body>
  <header class="header fixed-top bg-red">
    <nav class="d-flex jcsb aic">
      <div class="d-flex jcsb aic header-top">
        <a href="index.html"><img src="./assets/images/logo-white.png" alt="logo" class="logo" /></a>
        <span class="material-symbols-outlined menu-icon text-white">menu</span>
      </div>
      <ul class="d-flex aic menu d-sm-none">
        <li><a href="series_1.html" class="text-white">系列鏡框</a></li>
        <li><a href="store.html" class="text-white">門市據點</a></li>
        <li><a href="blog.html" class="text-white">部落格</a></li>
        <li><a href="qa.html" class="text-white">常見問題</a></li>
      </ul>
    </nav>
    <!-- <ul class="d-flex flex-wrap menuUl bg-red d-sm-none">
      <li><a href="series_1.html" class="text-white">系列鏡框</a></li>
      <li><a href="store.html" class="text-white">門市據點</a></li>
      <li><a href="blog.html" class="text-white">部落格</a></li>
      <li><a href="qa.html" class="text-white">常見問題</a></li>
    </ul> -->
  </header>

  <%- contents %>

    <footer class="footer bg-red">
      <div class="container mx-auto">
        <div class="d-flex jcsb ais">
          <div>
            <ul class="nav d-flex aic d-sm-none">
              <li><a href="index.html" class="text-white">首頁</a></li>
              <li><a href="series_1.html" class="text-white">系列鏡框</a></li>
              <li><a href="store.html" class="text-white">門市據點</a></li>
              <li><a href="blog.html" class="text-white">部落格</a></li>
              <li><a href="qa.html" class="text-white">常見問題</a></li>
            </ul>
            <ul class="contain">
              <li>
                <a href="tel:0800000000" class="text-white d-flex aic">
                  <span class="material-symbols-outlined"> call </span>
                  <p>0800-000-000</p>
                </a>
              </li>
              <li>
                <a href="mailto:glasses@business.com" class="text-white d-flex aic">
                  <span class="material-symbols-outlined"> mail </span>
                  <p>glasses@business.com</p>
                </a>
              </li>
            </ul>
          </div>
          <ul class="social-icon d-flex aic">
            <li>
              <a href="#">
                <img src="./assets/images/ic-social-fb.png" alt="facebook" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/ic_social_ig.png" alt="instagram" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/ic_social_line.png" alt="line" />
              </a>
            </li>
          </ul>
        </div>
        <div class="coptright d-flex jcsb aic d-xs-block">
          <p class="text-white">
            Copyright © 2020 Glasses.All rights reserved.
          </p>
          <ul class="d-flex aic d-xs-block">
            <li><a href="#" class="text-white">隱私權政策</a></li>
            <li><a href="#" class="text-white">服務條款</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>